.Wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #323746;
	padding-left: 24px;
	padding-top: 20px;
	padding-right: 24px;
	padding-bottom: 200px;

	&:last-child {
		border: none;
	}
}



.Loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
		margin-top: 50px;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

  @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
 } 
}
