
.Wrapper {
	background: #08090B;
	padding-top: 88px;
	padding-bottom: 160px;
	font-family: "Inter";
	background-image: url("../../assets/bg1.png");
	background-repeat: no-repeat;
	background-position: 40% 65%;
	//background-size: cover;
}


.Container {
	width: 95%;
	max-width: 1600px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}


.Inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.WrapperType {
	display: flex;
	margin-top: 48px;
}

.Button {
	width: 106px;
	height: 46px;
	border-radius: 0px 6px 6px 0px;
	border: 1px solid rgba(255, 255, 255, 0.40);
	background: radial-gradient(100.04% 100% at 50% 0%, #66CBF9 0%, #0FB5FF 100%);
	border: none;
	outline: none;
	color: #08090B;
	font-size: 18px;
	font-weight: 500;

	&:hover {
		cursor: pointer;
	}
}

.TypeEmail {
	width: 270px;
	height: 46px;
	padding-left: 40px;
	//padding: 10px 24px 10px 16px;
	border-radius: 6px 0px 0px 6px;
	//border: 1px solid rgba(255, 255, 255, 0.40);
	background: radial-gradient(100.04% 100% at 50% 0%, #26314E 0%, #252B3D 100%);
	border: none;
	outline: none;
	color: #6D799C;


	@media screen and (max-width: 414px) {
		width: 200px;
		height: 45px;
	}

	@media screen and (max-width: 375px) {
		width: 200px;
		height: 45px;
	}
}

.InnerType {
	position: relative;
}

.IconItem {
	position: absolute;
	left: 10px;
	top: 12px;
}

.Title {
	color: #D5EAFF;
	width: 680px;
	text-align: center;
	font-size: 48px;
	font-weight: 445;
	line-height: 64px; /* 133.333% */
	letter-spacing: -0.96px;


	@media screen and (max-width: 600px) {
		font-size: 35px;
		width: 70%;
		min-width: 400px;
		line-height: 40px;
	}

	@media screen and (max-width: 414px) {
		font-size: 25px;
	}

	@media screen and (max-width: 375px) {
		font-size: 25px;
	}
}